body,html{
    font-family: PingFang SC,STHeiti,Tahoma, "Microsoft YaHei",arial, sans-serif;
    margin: 0;
    line-height: 2;
}
a{
    cursor: pointer;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    line-height: 1;
    background: #50AC02;
}
.navbar .container{
    padding: 10px 12px;
    background: url("../images/navbar.png") no-repeat;
    background-position: top right;
}

.container{
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
}

.mt1{margin-top: 100px;}
.mt2{margin-top: 40px;}
.mt3{margin-top: 20px;}

.mb1{margin-bottom: 100px;}
.mb2{margin-bottom: 40px;}
.mb3{margin-bottom: 20px;}


.f1{font-size: 36px;}
.f2{font-size: 24px;}
.f3{font-size: 14px;}
.fw-b{font-weight: bolder;}
.fw-l{font-weight: lighter;}
.t-le{text-align: left;}
.t-ce{text-align: center;}
.t-ri{text-align: right;}
.t-white{color: #FFFFFF;}
.t-black{color: #000000;}
.t-green{color: #57AF06;}